
# --- Salesforce ---
SF_LOGIN_URL=https://login.salesforce.com
SF_USERNAME=[insert salesforce email]
SF_PASSWORD=[insert salesforce password]

SF_SECURITY_TOKEN=

# --- Email verification code retrieval (Part C.b) ---

OTP_STRATEGY=imap
MAILSLURP_API_KEY=
MAILSLURP_INBOX_ID=
IMAP_HOST=imap.gmail.com
IMAP_USER=[insert email]@gmail.com
IMAP_APP_PASSWORD=[insert app password]

# --- Execution ---
HEADLESS=false
STORAGE_STATE_PATH=storage/storageState.json
BASE_URL=https://orgfarm-842e6392a8-dev-ed.develop.lightning.force.com
